<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Productos</h4>
                        <p class="card-category"> Consulta de Productos</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        Codigo
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Valor Unidad
                                    </th>
                                    <th>
                                        Stock
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let producto of productos;">
                                        <td>{{producto.codigo}}</td>
                                        <td>{{producto.nombre}}</td>
                                        <td>{{producto.valorUnidad}}</td>
                                        <td>{{producto.stock}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>