<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Numero Identificacion Cliente" (change)="buscaCliente()" [(ngModel)]="identificacion">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nombre Cliente (disabled)" disabled [(ngModel)]="nombreCliente">
                        </mat-form-field>
                    </div>
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Agregar Productos</h4>
                        </div>
                        <div class="card-body">
                            <!-- <form> -->
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Producto</mat-label>
                                        <mat-select [(ngModel)]="producto" (selectionChange)="datosProducto()">
                                            <mat-option *ngFor="let producto of productos" [value]="producto">
                                                {{producto.nombre}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Precio Unidad Producto (disabled)" disabled [(ngModel)]="precioUnidad">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Cantidad" type="number" [(ngModel)]="cantidad">
                                    </mat-form-field>
                                </div>
                            </div>


                            <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="addProducto()">Agregar Producto</button>
                            <div class="clearfix"></div>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-danger">
                    <h4 class="card-title mt-0"> Detalle de Venta</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="">
                                <th>
                                    Producto
                                </th>
                                <th>
                                    Unidades de Producto
                                </th>
                                <th>
                                    Vlr Total Por Producto
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let detalleFactura of dataDetalle;let i=index">
                                    <td>{{detalleFactura.producto.nombre}}</td>
                                    <td>{{detalleFactura.cantidad}}</td>
                                    <td>{{detalleFactura.valorTotalProd}}</td>
                                    <td>
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="submit" class="btn btn-info btn-sm" (click)="eliminaRegistro(i)">                                                    
                                                <span class="d-none d-md-inline">Eliminar registro</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h3 style="color: red">Total A Pagar : {{totalPagar}}</h3>
        <button mat-raised-button type="submit" class="btn btn-success
         pull-right" [disabled]="noVenta" (click)="guardaVenta()">Registrar Venta</button>
    </div>